<meta charset="UTF-8">
<title>Curse Generator</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css" >

<style>
    body, html {height: 100%; margin: 0; padding: 0; width: 100%; overflow: hidden;}

    body {
        background-color: rgb(255, 251, 242);
        /* background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; */
    }
    .container {
        max-width: 100%;
        padding: 0px;
    }
    .jumbotron {
       background-color: rgb(253, 217, 176);
    }
    nav {
        width: 100%;
        height: 60px;
    }
    .footer {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
    }
    button {
        width: 30%;
        height:40px;
        margin:0 auto;
        display:block;
    }
    .btn {
        width: 30%;
        height:40px;
        margin:0 auto;
        display:block;
        /* margin-top: 20px; */
    }

</style>