<!DOCTYPE html>

<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">
<header>
    <%- include('./partials/header.ejs'); %>
</header>

<main>
    <div style="padding-top: 30px; width: 70%; margin: 0 auto; display: block; height: 100%"> 
        <div style="height:100%; margin: 0 auto; display: block; top: 40%; text-align: center;">
            <h3> Coming soon...ya ninny!</h3>
        </div>
    </div>

</main>

<footer class="footer">
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>